<h1>Passenger Cars</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Train</th>
      <th>Type</th>
      <th>Seats</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render partial: 'passenger_car', collection: @passenger_cars, as: :passenger_car %>
  </tbody>
</table>

<br>

<%= link_to 'New Passenger Cars', new_passenger_car_path %>
