<h1>Fill data for new ticket</h1>

<%= render 'form', ticket: @ticket, train_id: @train_id, 
                   begin_station_id: @begin_station_id, 
                   end_station_id: @end_station_id %>
