<!DOCTYPE html>
<html>
  <head>
    <title>Railway Manager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer style="bottom:0;position:absolute">
      <p>(c) 2016 Dima Rogov. Учебный проект в <a href="http://www.thinknetica.com/">онлайн-школе Thinknetica</a></p>
    </footer>
  </body>
</html>
